<!DOCTYPE html>
<html>
  <head>
    <title>AuthenticationMembersOnlyRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
